  <style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }

  .jumbotron{
     background:#01dae3; 
     padding-top: 1em; 
     padding-bottom: 1em;  
  }

  .navbar{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .col-sm-4{
  	width: 20%;
  }

#opciones{
        white-space: nowrap
}

  .col-sm-8{
  	width: 80%;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  th{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  table{
    align-self: center;
  }


  </style>